// --------------------------------------------------
//                   Mixins
// --------------------------------------------------

@mixin checkered() {
  background: #e0e0e0;
  background-position: 0px 0px, 10px 10px;
  background-size: 20px 20px;
  background-image: linear-gradient(
      45deg,
      #eee 25%,
      transparent 25%,
      transparent 75%,
      #eee 75%,
      #eee 100%
    ),
    linear-gradient(
      45deg,
      #eee 25%,
      #e0e0e0 25%,
      #e0e0e0 75%,
      #eee 75%,
      #eee 100%
    );
}

@mixin triangle($dir: top, $pos: 50%, $color: #fff, $size: 6px) {
  $opos: map-get(
    (
      top: bottom,
      right: left,
      bottom: top,
      left: right,
    ),
    $dir
  );
  $transparent: if($dir == left or $dir == right, (top, bottom), (left, right));
  &:after {
    #{nth($transparent, 1)}: $pos;

    height: 0;
    width: 0;
    display: block;
    content: ' ';
    position: absolute;
  }
  &:after {
    border-#{nth($transparent, 1)}: $size solid transparent;
    border-#{nth($transparent, 2)}: $size solid transparent;
    border-#{$opos}: $size solid $color;
    margin-#{nth($transparent, 1)}: -$size;
    #{$dir}: -$size;
  }
}
