// --------------------------------------------------
//                   Variables
// --------------------------------------------------

//== Colors
$color-blue-dark: #0e2f5a;
$color-blue-light: #0054ac;
$color-blue-c: #0071ba;
$color-blue-d: #255fb0;
$color-gray-blue: #90a0b3;
$color-gray-border: #ccc;
$color-gray-bg: #e4ebf1;
$color-orange: #ff620c;

$color-grade-a: #77bd58;
$color-grade-c: #f2a81a;
$color-grade-e: #FF5050;

$color-a: #FF5050;
$color-a-dark: #D6364B;

$color-gray-light: #C5C5C5;
$color-gray-medium: #A9A9A9;

$color-blue-light: #B6D2FF;
$color-blue-medium: #3448C5;
$color-blue-dark: #0C163B;

//== Containers
$container-width: 1208px;

//== Media queries breakpoints
$screen-lg: $container-width !default;
$screen-md: 1150px !default;
$screen-sm: 850px !default;
$screen-xs: 641px !default;
$screen-md-max: ($screen-lg - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-xs-max: ($screen-sm - 1) !default;
$screen-xs-min: ($screen-xs + 1) !default;

$bp-min-md: '(min-width: #{$screen-md})';
$bp-max-md: '(max-width: #{$screen-sm-max})';
$bp-min-sm: '(min-width: #{$screen-sm})';
$bp-max-sm: '(max-width: #{$screen-xs-max})';
$bp-min-xs: '(min-width: #{$screen-xs-min})';
$bp-min-xs-max-md: '(min-width: #{$screen-xs-min}) and (max-width: #{$screen-sm-max})';
$bp-max-xs: '(max-width: #{$screen-xs})';
