@import "helpers";

.resultsItem {
  background: #E4EAEE;
  box-shadow: 0 0 6px rgba(#000, .3);
  margin: 25px 0;
  overflow: hidden;
  .image-intro {
    display: flex;
    border: 1px solid #8596AA;
  }
  .image-orig {
    background: #fff;
    position: relative;
    z-index: 1;
    img {
      vertical-align: top;
    }
  }
  .image-data {
    flex: 1;
  }
  .image-data-header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 6px rgba(#000, .4);
  }
  .image-data-grading {
    position: absolute;
    font-size: 22px;
    top: 7px;
    left: -.75em;
    z-index: 2;
  }
  .image-data-name {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
  }
  .image-compressions-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 22px 30px 12px;
  }
  .image-data-inner {
    display: flex;
  }
  .image-final {
    flex: 1;
    text-align: center;
    position: relative;
  }
  .image-final-percent {
    margin-top: 30px;
    line-height: 1.1;
    font-size: 56px;
    font-weight: 300;
    img {
      vertical-align: baseline;
      margin-right: 15px;
    }
  }
  .image-final-pixel {
    color: #5b616a;
    font-size: 18px;
  }
  .toggle-btn {
    position: relative;
    display: inline-block;
    font-size: 14px;
    width: 190px;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 20px;
    background: $color-blue-c;
    color: #fff;
    box-shadow: 0 2px 8px rgba(#000, .4);
    border: none;
    transition: background .3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    transition: all .4s;
    &:hover {
      background: darken($color-blue-c, 10%);
    }
    &.toggle-show {
      transform: scale(1);
      opacity: 1;
    }
    &.toggle-hide {
      transform: scale(0);
      opacity: 0;
      img {
        transform: rotate(180deg);
      }
    }
    img {
      vertical-align: baseline;
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &.expanded .toggle-btn {
    &.toggle-show {
      transform: scale(0);
      opacity: 0;
    }
    &.toggle-hide {
      transform: scale(1);
      opacity: 1;
    }
  }
}

.grade {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 1.5em;
  line-height: 1.6;
  box-shadow: 0 3px 6px rgba(#000, .3);
  &-A,
  &-B {
    background: $color-grade-a;
  }
  &-C,
  &-D {
    background: $color-grade-c;
  }
  &-E,
  &-F {
    background: $color-grade-e;
  }
}
