.resultsItem {
  display: flex;
  background: #E4EAEE;
  box-shadow: 0 0 6px rgba(#000, .3);
  margin: 25px 0;
  border: 1px solid #8596AA;
  overflow: hidden;
  .image-orig {
    background: #8596AA;
    position: relative;
    z-index: 1;
    img {
      vertical-align: top;
    }
  }
  .image-data {
    flex: 1;
  }
  .image-data-header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 6px rgba(#000, .4);
  }
  .image-data-grading {
    position: absolute;
    font-size: 22px;
    top: 7px;
    left: -.75em;
    z-index: 2;
  }
  .image-data-name {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
  }
  .image-data-meta {
    display: flex;
  }
  .image-data-type,
  .image-data-bytes {
    font-size: 18px;
    padding: 15px 30px;
    border-right: 1px solid #ddd;
  }
  .image-data-type {
    text-transform: uppercase;
  }
}

.grade {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 1.5em;
  line-height: 1.6;
  box-shadow: 0 3px 6px rgba(#000, .3);
  &-A {
    background: #77BD58;
  }
  &-B {
    background: #d7e53c;
  }
  &-C {
    background: #F2A81A;
  }
  &-D {
    background: #e17d30;
  }
  &-E {
    background: #dd6e34;
  }
  &-F {
    background: #F05C5F;
  }
}
