// --------------------------------------------------
//                  Typography
// --------------------------------------------------

body {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #111;
  background-color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.2;
  color: $color-blue-dark;
}

.h1,
h1 {
  font-size: 61px;
  font-size: 61px;
  font-weight: 300;
}

.h2,
h2 {
  font-size: 32px;
  font-size: 47px;
  font-weight: 300;
}

.h3,
h3 {
  font-size: 27px;
  font-size: 27px;
  font-weight: 400;
}

.h4,
h4 {
  font-size: 18px;
}

.h5,
h5 {
  font-size: 16px;
}

.h6,
h6 {
  font-size: 14px;
}

a:not(.btn) {
  text-decoration: none;
  transition: color 0.3s;
  color: $color-blue-light;
  &:hover,
  &:active {
    color: lighten($color-blue-light, 10%);
  }
}
