@import "helpers";

.resultsItem {
  background: #E4EAEE;
  box-shadow: 0 0 6px rgba(#000, .3);
  margin: 25px 0;
  .image-intro {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #8596AA;
    position: relative;
    overflow: hidden;
  }
  .image-orig {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    background: #fff;
    position: relative;
    z-index: 1;
    text-align: center;
    border-right: 1px solid $color-gray-border;
    img {
      vertical-align: top;
      height: 100%; width: 100%;
      object-fit: cover
    }
  }
  .image-data {
    flex: 1;
    @media #{$bp-min-sm} {
      max-width: calc(100% - 401px);
    }
  }
  .image-data-header {
    position: relative;
    background: #fff;
    box-shadow: 0 0 6px rgba(#000, .4);
  }
  .image-data-grading {
    position: absolute;
    font-size: 22px;
    top: 7px;
    left: -.75em;
    z-index: 2;
  }
  .image-data-name {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid $color-gray-border;

    box-sizing: border-box;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .image-compressions-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 22px 30px 12px;
    white-space: nowrap;
  }
  .image-data-inner {
    display: flex;
  }
  .image-compression-bars {
    padding-bottom: 5px;
  }
  .image-final {
    flex: 1;
    text-align: center;
    position: relative;
  }
  .image-final-percent {
    margin-top: 30px;
    line-height: 1.1;
    font-size: 56px;
    font-weight: 300;
    img {
      vertical-align: baseline;
      margin-right: 15px;
    }
  }
  .image-final-pixel {
    color: #5b616a;
    font-size: 18px;
  }
  .toggle-btn {
    position: relative;
    display: inline-block;
    font-size: 14px;
    width: 190px;
    border-radius: 6px;
    padding: 10px 20px;
    margin-top: 20px;
    background: $color-blue-c;
    color: #fff;
    box-shadow: 0 2px 8px rgba(#000, .4);
    border: none;
    transition: background .3s;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    margin: auto;
    transition: all .4s;
    &:hover {
      background: darken($color-blue-c, 10%);
    }
    &.toggle-show {
      transform: scale(1);
      opacity: 1;
    }
    &.toggle-hide {
      transform: scale(0);
      opacity: 0;
      img {
        transform: rotate(180deg);
      }
    }
    img {
      vertical-align: baseline;
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  &.expanded .toggle-btn {
    &.toggle-show {
      transform: scale(0);
      opacity: 0;
    }
    &.toggle-hide {
      transform: scale(1);
      opacity: 1;
    }
  }

  @media #{$bp-max-md} {
    $height: 130px;
    margin-bottom: 40px;
    .image-intro {
      padding-bottom: $height;
    }
    .image-orig {
      width: 50%;
      flex: 0 0 50%;
      box-sizing: border-box;
      border-bottom: 1px solid $color-gray-border;
    }
    .image-data {
      flex: 0 0 50%;
      width: 50%;
      box-sizing: border-box;
    }
    .image-data-name,
    .image-compressions-title {
      padding-left: 7%;
    }
    .image-compression-bars {
      width: 100%;
    }
    .image-final {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: $height;
      border-top: 1px solid $color-gray-border;
    }
    .image-final-percent {
      margin-top: 15px;
    }
    .toggle-btn {
      bottom: -19px;
      z-index: 9;
    }
  }

  @media #{$bp-max-xs} {
    .image-orig,
    .image-data {
      width: 100%;
      flex: 0 0 100%;
      border-right: none;
    }
    .image-data-name {
      padding-left: 32px;
    }
    .image-data-grading {
      left: -.4em;
    }
  }

}

.grade {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 1.5em;
  line-height: 1.6;
  box-shadow: 0 3px 6px rgba(#000, .3);
  &-A,
  &-B {
    background: $color-grade-a;
  }
  &-C,
  &-D {
    background: $color-grade-c;
  }
  &-E,
  &-F {
    background: $color-grade-e;
  }
}
