.header {
  box-shadow: 0 0 6px rgba(#000, .4);
  padding: 15px 0;
  h1 {
    font-weight: 400;
    margin: 0;
    font-size: 18px;
    display: inline-block;
  }
  .learn {
    font-size: 14px;
    display: inline-block;
    margin-left: 15px;
  }
}
