@import 'styles/helpers';

.resultsItem {
  background: #e4eaee;
  margin: 25px 0;
  transition: box-shadow 0.25s;
  &:hover {
    box-shadow: 0 0 6px rgba(#000, 0.2);
  }
  .image-intro {
    display: flex;
    flex-wrap: wrap;
    border: 1px solid #8596aa;
    position: relative;
  }
  .image-orig {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    width: 400px;
    position: relative;
    text-align: center;
    border-right: 1px solid $color-gray-border;
    @include checkered;
  }
  .image-data {
    flex: 1;
    @media #{$bp-min-sm} {
      max-width: calc(100% - 401px);
    }
  }
  .image-data-header {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    background: #fff;
    &:after {
      content: '';
      position: absolute;
      height: 5px;
      top: 100%;
      left: 0;
      right: 0;
      background: linear-gradient(
        rgba(#000, 0.15),
        rgba(#000, 0.05) 50%,
        transparent 80%
      );
    }
    .compressionBar {
      margin-right: auto;
    }
  }
  .image-data-grading {
    position: absolute;
    font-size: 22px;
    top: 7px;
    left: -0.75em;
    z-index: 2;
  }
  .image-data-name {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 0 30px;
    line-height: 50px;
    border-bottom: 1px solid $color-gray-border;
    width: 100%;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .from-cloudinary {
    border-bottom: 1px solid rgb(204, 204, 204);
    padding: 0 15px;
    line-height: 50px;
    position: relative;
    img {
      vertical-align: text-bottom;
    }
    .tooltip {
      display: none;
      position: absolute;
      box-shadow: 0 0 5px rgba(#000, 0.3);
      width: 150px;
      text-align: center;
      background: #fbfbfb;
      padding: 7px 12px;
      color: #666;
      bottom: 80%;
      right: -10px;
      font-size: 12px;
      line-height: 2.5;
    }
    &:hover .tooltip {
      display: block;
    }
    + .image-data-name {
      padding-right: 0;
      width: calc(100% - 60px);
    }
  }
  .image-compressions-title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 22px 6.9% 12px;
    white-space: nowrap;
  }
  .image-data-inner {
    display: flex;
  }
  .image-compression-bars {
    padding-bottom: 5px;
  }
  .image-final {
    flex: 1;
    text-align: center;
    position: relative;
  }
  .image-final-percent {
    margin-top: 30px;
    line-height: 1.1;
    font-size: 56px;
    font-weight: 300;
    img {
      vertical-align: baseline;
      margin-right: 15px;
    }
  }
  .image-final-pixel {
    color: #5b616a;
    font-size: 18px;
    img {
      vertical-align: baseline;
      margin: 0 7px;
    }
  }
  .toggle-btn {
    position: relative;
    overflow: hidden;
    user-select: none;
    display: inline-block;
    cursor: pointer;
    font-size: 14px;
    width: 190px;
    border-radius: 6px;
    padding: 10px 20px;
    background: $color-blue-c;
    color: #fff;
    box-shadow: 0 1px 1.5px 0 rgba(0, 0, 0, 0.12),
      0 1px 1px 0 rgba(0, 0, 0, 0.24);
    border: none;
    margin: 15px auto 0;
    will-change: box-shadow;
    transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    @media #{$bp-max-md} {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 15px;
    }
    &:hover {
      background: darken($color-blue-c, 5%);
    }
    &:active {
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.14),
        0 1px 10px 0 rgba(0, 0, 0, 0.12), 0 2px 4px -1px rgba(0, 0, 0, 0.2);
    }
    &[data-state='toggle-hide'] {
      img {
        transform: rotate(180deg);
      }
    }
    img {
      vertical-align: baseline;
      position: absolute;
      left: 15px;
      top: 0;
      bottom: 0;
      margin: auto;
      transition: all 0.5s;
    }
    &:focus {
      outline: none;
    }
    .ripple {
      display: block;
      position: absolute;
      background: rgba(#fff, 0.1);
      border-radius: 100%;
      transform: scale(0);
    }
    &.btn-animate .ripple {
      animation: rippleAnimation 0.65s linear;
    }
  }

  @media #{$bp-max-md} {
    $height: 130px;
    margin-bottom: 40px;
    .image-intro {
      padding-bottom: $height;
    }
    .image-orig {
      width: 50%;
      flex: 0 0 50%;
      box-sizing: border-box;
      border-bottom: 1px solid $color-gray-border;
    }
    .image-data {
      flex: 0 0 50%;
      width: 50%;
      box-sizing: border-box;
    }
    .image-data-name,
    .image-compressions-title {
      padding-left: 7%;
    }
    .image-compression-bars {
      width: 100%;
    }
    .image-final {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;
      height: $height;
      border-top: 1px solid $color-gray-border;
    }
    .image-final-percent {
      margin-top: 15px;
    }
    .toggle-btn {
      bottom: -19px;
      z-index: 9;
    }
  }

  @media #{$bp-max-xs} {
    .image-orig,
    .image-data {
      width: 100%;
      flex: 0 0 100%;
      border-right: none;
    }
    .image-data-name {
      padding-left: 32px;
    }
    .image-data-grading {
      left: -0.4em;
    }
  }
}

.grade {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  border-radius: 1.5em;
  line-height: 1.6;
  box-shadow: 0 3px 6px rgba(#000, 0.3);
  &-A,
  &-B {
    background: $color-grade-a;
  }
  &-C,
  &-D {
    background: $color-grade-c;
  }
  &-E,
  &-F {
    background: $color-grade-e;
  }
  // Tweaks
  &-A {
    line-height: 1.55;
  }
  &-B {
    text-indent: 0.04em;
  }
  &-C {
    text-indent: -0.02em;
  }
  &-D {
    text-indent: 0.09em;
  }
  &-E {
    line-height: 1.57;
    text-indent: -0.02em;
  }
}

@keyframes rippleAnimation {
  /*scale the element to 250% to safely cover the entire link and fade it out*/
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
