@import 'src/styles/helpers';

.resultSumm {
  background: radial-gradient(160.37% 197.91% at 89.38% 155.28%, #0065AD 0%, #031F33 81.57%);
  padding-top: 60px;
  overflow: hidden;
  position: relative;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  h1 {
    margin-top: 0;
    color: #fff;
  }
  .flex {
    display: flex;
  }
  span {
    color: #fff;
    font-size: 12px;
  }  
  .catchpoint-parent {  
    margin-bottom: 30px;
    span {margin-right: 20px;}
  }
  .icon {
    width: 120px;
    height: 20px;
  }
  .share {
    float: right;
    .share-count {
      display: none;
    }
    .share-toggle {
      display: flex;
      align-items: center;
      img {
        margin-right: 10px;
        height: 24px;
      }
      span {
        font-size: 24px;
        color: $color-blue-light;
      }
    }
  }
  .container {display: flex;}
  .hero-tag {
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: #fff;
  }
  .left {
    width: 40%;    
  } 
  .right {
    width: 60%;
  }
  .test-url {
    font-size: 24px;
    color: $color-blue-light;
    line-height: 28px;
    max-width: calc(100% - 50px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .website-url {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    padding: 20px 0px 0px 20px;
    font-size: 26px;
    font-style: normal;
    font-weight: 300;
    line-height: 120%;
  }
  .test-empty-summ,
  .test-summ {
    display: block;
    margin-top: 24px;
    padding-left: 40px;
  }
  .test-empty {
    padding: 60px 0 120px;
    font-size: 38px;
    font-weight: 300;
    color: #aaa;
    align-self: center;
    margin: auto;
  }
  .test-empty-screen {
    flex: 0 0 300px;
  }
  .test-empty-screen,
  .test-screen {
    max-height: 100%;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    img {
      box-shadow: 0 0 30px rgba(#000, 0.2), 0 -15px 20px -5px rgba(#000, 0.2);
    }
    .screenshot {
      display: none;
      width: 100%;
    }
    .placeholder {
      padding: 160px 0;
      background: #e9eef1;
    }
    .placeholder-text {
      text-align: center;
      position: absolute;
      top: 210px;
      left: 0;
      width: 300px;
      z-index: 1;
      font-size: 16px;
      color: #bbb;
      line-height: 1.2;
    }
    &.loaded {
      .placeholder,
      .placeholder-text {
        display: none;
      }
      .screenshot {
        display: initial;
        max-height: 400px;
        object-fit: cover;
        object-position: top center;
      }
    }
  }
  .test-meta {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow: hidden;
    background: rgba(255, 255, 255, 0.10);
    backdrop-filter: blur(5px);
    padding: 16px;
    border-bottom-right-radius: 16px;
    border-bottom-left-radius: 16px;
  }
  .test-meta-box {
    box-sizing: border-box;
    flex: 1;
    padding: 0 30px 20px;
    .label {
      text-align: left;
      color: #fff;
      margin-bottom: 10px;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 120%; /* 19.2px */
      text-transform: uppercase;
    }
  }
  .test-grade {
    flex: 1 0 calc(33% - 8px);
    margin-right: 8px;
    text-align: center;
    padding: 0 40px 20px;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 8px;
    padding: 30px 12px;
    .label {
      text-align: center;
      white-space: nowrap;
      margin-bottom: 20px;
    }
    .grade {
      font-family: 'Inter', sans-serif;
      font-size: 80px;
      font-weight: 700;
      line-height: 1.2;
      color: #85EEFF!important;
      background: transparent!important;
      box-shadow: none;
      height: auto;
    }
    .grade-text {
      font-family: 'Inter', sans-serif;
      font-size: 16px;
      font-weight: 500;
      margin: auto;
      max-width: 150px;
      &-A,
      &-B {
        color: #FFF;
      }
      &-C,
      &-D {
        color: #FFF;
      }
      &-E,
      &-F {
        color: #FFF;
      }
    }
  }

  .test-stats {
    flex: 2 0 calc(66% - 8px);
    padding: 30px 12px;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 8px;
    .original-images-label {
      margin-bottom: 16px;
      margin-top: 5px;
    }
    .label {
      margin-bottom: 34px;
    }    
    .original-images-label,
    .trans-images-label {
      display: inline-block;
      margin-right: 5px;
      margin-top: 5px;
    }
    .original-images-weight,
    .trans-images-weight {
      display: inline-block;
      font-weight: 500;
    }
    .trans-images-label,
    .trans-images-weight {
      color: $color-cyan;
    }
    .original-images-indicator,
    .trans-images-indicator {
      $size: 18px;
      margin-top: 10px;
      margin-bottom: 0;
      height: $size;
      border-radius: 0 $size $size 0;
    }
    .original-images-indicator {
      background: $color-gray-blue-light;
    }
    .trans-images {
      min-width: 15%;
    }
    .trans-images-label {
      color: #fff;
    }
    .trans-images-indicator {
      background: $color-cyan;
    }
  }

  .more-info {
    position: relative;
    img {
      vertical-align: baseline;
      margin-left: 4px;
    }
    .tooltip {
      display: none;
      position: absolute;
      box-shadow: 0 0 5px rgba(#000, 0.3);
      border-radius: 2px;
      width: 220px;
      background: #fbfbfb;
      padding: 7px 12px;
      color: #666;
      bottom: 120%;
      right: -30px;
      font-size: 12px;
    }
    &:hover .tooltip {
      display: block;
    }
  }

  .test-totals {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    border-top: 8px solid transparent;
    .test-meta-box {
      flex: 1 0 calc(33% - 8px);
      margin-right: 0px;
      padding: 0 10px 10px 30px;
      background-color: rgba(255, 255, 255, 0.10);
      border-radius: 8px;      
      padding: 30px 12px;
      &:not(:last-of-type) {
        border-right: 8px solid transparent;
        margin-right: 8px;
      }
    }
    .label {
      height: 45px;
      line-height: 20px;
      margin-bottom: 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      line-height: 120%;
      color: #fff;
    }
    .value {
      display: flex;
      justify-content: center;
      align-items: baseline;
      text-transform: uppercase;
      font-size: 47px;
      font-style: normal;
      font-weight: 300;
      line-height: 120%;
      img {
        margin-right: 10px;
      }
      .value-text {
        font-size: 47px;
        line-height: 1.2;
        font-weight: 300;
        text-transform: uppercase;
        color: #D5FDA1;        
      }
    }
    .image-weight .value img {
      margin-bottom: -3px;
    }
    .compression .value img {
      margin-bottom: -2px;
    }
    .description {
      margin-top: 10px;
      font-size: 12px;
      color: $color-gray-blue;
    }
    .meta-box-bottom-text {
      color: #fff;
      font-size: 12px;
      margin-top: 6px;
      text-align: center;
    }
  }

  .test-info {
    width: 100%;
    display: flex;
    max-height: 151px;
    padding: 30px 0 20px 0;
    z-index: 1;
    .label {
      margin-bottom: 15px;
    }    
    .test-meta-box {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: 0;
      padding: 0 0 0 38px;
      .label {
        font-size: 12px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
      }
      .icon {
        text-align: center;
      }
    }
    .test-meta-box:first-of-type {
      padding-left: 20px; 
    }
    .value {
      margin: 10px 0 10px;
      color: #fff;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 150%;
    }
    img {
      height: 22px;
    }
    .wpt {
      img {
        height: auto;
        width: 100%;
        max-width: 150px;
      }
    }
  }

  @media #{$bp-max-md} {
    .test-summ {
      flex-direction: column;
    }
    .test-meta {
      padding-right: 0;
      .test-grade {
        width: 33%;
      }
    }
    .test-info {
      width: 50%;
      flex-wrap: wrap;
      max-height: none;
      .test-meta-box {
        flex-basis: 50%;
        max-width: 50%;
        align-items: center;
        padding: 0;
        height: 100px;
        margin-bottom: 15px;
        &:last-child {
          margin: 0 auto;
        }
        &:nth-child(even) {
          border-right: none;
        }
      }
    }
    &::after {
      height: 380px;
    }
    .test-screen {
      $height: 380px;
      height: $height;
      margin-top: -$height;
      width: 40%;
      margin-left: auto;
      order: 1;
      justify-content: end;
    }
    .test-totals {
      .test-meta-box {
        padding: 0 14px 14px 30px;
        .value {
          img {
            width: 36px;
          }
          .value-text {
            font-size: 46px;
          }
        }
      }
    }
  }

  @media #{$bp-max-xs} {
    h1 {
      margin-top: 10px;
      font-size: 38px;
    }
    .test-meta-box,
    .test-totals .test-meta-box {
      flex: 1 0 100%;
      &:not(:last-child) {
        border-right: none;
      }
    }
    .test-meta-box {
      border: none;
      margin-bottom: 20px;
      &:not(:last-of-type) {
        border-bottom: 1px solid #ccc;
      }
    }
    .test-grade,
    .test-meta-box,
    .test-stats .label,
    .test-totals .test-meta-box,
    .test-totals .test-meta-box.image-count,
    .test-stats .trans-images-label {
      padding-left: 0;
      padding-right: 0;
    }
    .test-grade .label {
      text-align: left;
    }
    .grade-content {
      display: flex;
      .grade-text {
        margin: 0 0 0 20px;
        align-self: center;
        font-size: 22px;
        font-weight: 300;
        max-width: none;
      }
    }
    .test-totals .value {
      font-size: 64px;
    }
    .test-info {
      width: 100%;
      .test-meta-box {
        border-bottom: none;
      }
    }
    .test-screen {
      margin: 20px auto 0;
      width: auto;
    }
    .share .share-toggle {
      img {
        margin-right: 5px;
      }
      span {
        display: none;
      }
    }
    &::after {
      height: 780px;
    }
  }
}
