@import 'styles/helpers';

.error {
  min-height: 440px;
  background: $color-gray-bg;
  text-align: center;
  padding: 80px 0;
  box-sizing: border-box;
  h2 {
    font-weight: 300;
    margin-bottom: 15px;
  }
  h3 {
    margin-top: 15px;
    margin-bottom: 45px;
    font-size: 20px;
    font-weight: 300;
  }
  p {
    font-size: 14px;
    color: #787878;
    white-space: pre-line;
  }
}
