@import 'styles/helpers';

.inputUrl {
  background: $color-blue-medium-a;
  padding-top: 122px;
  padding-bottom: 100px;
  position: relative;
  .container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  .logo {
    $size: 136px;
    background: #F1F2F9;
    width: $size;
    height: $size;
    border-radius: $size;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  h1 {
    font-weight: 500;
    margin-bottom: 40px;
    color: #fff;
  }
  form {
    width: 800px;
    display: flex;
    align-items: center;
    input {
      height: 60px;
      padding: 0 17px;
      width: 100%;
      margin-right: 26px;
      border: 1px solid $color-gray-light-b;
      border-radius: 7px;
      box-sizing: border-box;
      &::placeholder {
        font-size: 21px;
        font-family: 'Inter', sans-serif;
        font-weight: 300;
        color: $color-gray-medium;
      }
    }
  }
  p {
    font-size: 18px;
    color: #fff;
    margin-top: 47px;
    max-width: 980px;
  }
  .integrated {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: $color-blue-dark;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'sofia-pro', Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 600;
    color: $color-blue-light;
    a {
      margin-left: 20px;
    }
  }

  @media #{$bp-max-md} {
    padding-top: 50px;
    h1 {
      font-size: 42px;
    }
    form {
      max-width: 80%;
    }
    p {
      font-size: 16px;
      max-width: 95%;
    }

  }

  @media #{$bp-max-xs} {
    h1 {
      font-size: 30px;
    }
    form {
      flex-direction: column;
      input {
        flex-shrink: 0;
        margin-right: 0;
        margin: 0 0 20px 0;
      }
    }
    p {
      margin-top: 30px;
    }
  }
}
