@import 'src/styles/helpers';

.integrated {
  display: inline-flex;
  align-items: center;
  gap: 20px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;

  .icon {
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }

  @media #{$bp-max-xs} {
    flex-wrap: wrap;
    gap: 10px;
  }
}
