
@import 'styles/helpers';

.integrated {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: $color-blue-dark;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'sofia-pro', Helvetica, Arial, sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: $color-blue-light;
  display: flex;
  align-items: center;
  a {
    margin-left: 20px;
    line-height: 1;
  }
}
