@import "helpers";

.inputUrl {
  background: #EFF3F4;
  padding-top: 120px;
  padding-bottom: 160px;
  .container {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-flow: column;
  }
  .logo {
    $size: 120px;
    background: #fff;
    display: inline-block;
    width: $size;
    height: $size;
    border-radius: $size;
    box-sizing: border-box;
    padding: 20px 0 0 25px;
    img {
      vertical-align: middle;
    }
  }
  h1 {
    font-weight: 200;
    span {
      color: $color-blue-c;
    }
  }
  p {
    font-weight: 300;
    font-size: 15px;
    color: #626063;
    max-width: 880px;
    margin: 0 auto 10px;
  }
  form {
    display: flex;
    width: 100%;
    max-width: 800px;
    margin: 20px auto;
  }
  input,
  button {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
    height: 60px;
    line-height: 60px;
    padding: 0 20px;
    vertical-align: middle;
    box-sizing: border-box;
    border: 1px solid $color-gray-blue;
  }
  input {
    font-size: 18px;
    border-radius: 8px 0 0 8px;
    flex: 1;
    border-right: 0;
  }
  button {
    border-radius: 0 8px 8px 0;
    color: #fff;
    text-shadow: none;
    border-left: 0;
    background: $color-blue-c;
    box-shadow: 1px 2px 5px rgba(#000, .25);
    img {
      vertical-align: baseline;
      margin-left: 20px;
    }
  }

  @media #{$bp-max-md} {
    padding-top: 80px;
    padding-bottom: 100px;
  }

  @media #{$bp-max-xs} {
    h1 {
      font-size: 34px;
      span {
        display: block;
      }
    }
    form {
      display: block;
      order: 3;
      margin: 0;
      max-width: 400px;
    }
    input,
    button {
      display: block;
      margin: 10px 0;
      width: 100%;
      border-radius: 8px;
    }
    p {
      order: 4;
    }
  }

}
