@import "helpers";

.resultSumm {
  padding-top: 15px;
  overflow: hidden;
  h1 {
    margin-top: 40px;
    border-bottom: 1px solid $color-gray-border;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  .share {
    float: right;
    .share-widget {
      padding: 0 10px 5px;
      margin-right: -10px;
      margin-top: 5px;
      z-index: 2;
    }
    .share-count {
      display: none;
    }
    .share-toggle span {
      line-height: 20px;
    }
  }
  .test-url {
    font-size: 18px;
    color: #323a45;
    line-height: 28px;
    max-width: calc(100% - 30px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .test-empty-summ,
  .test-summ {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
  }
  .test-empty {
    padding: 60px 0 120px;
    font-size: 38px;
    font-weight: 300;
    color: #aaa;
    align-self: center;
    margin: auto;
  }
  // .test-empty-screen {
  //   flex: 0 0 300px;
  // }
  // .test-empty-screen,
  .test-screen {
    max-height: 660px;
    position: relative;
    img {
      box-shadow:
        0 0 30px rgba(#000, .2),
        0 -15px 20px -5px rgba(#000, .2);
    }
    .screenshot {
      display: none;
    }
    .placeholder-text {
      text-align: center;
      position: absolute;
      top: 40px;
      left: 0;
      width: 300px;
      z-index: 1;
      font-size: 16px;
      color: #bbb;
      line-height: 1.2;
    }
    &.loaded {
      .placeholder,
      .placeholder-text {
        display: none;
      }
      .screenshot {
        display: initial;
      }
    }
  }
  .test-meta {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    overflow: hidden;
    padding-right: 5%;
  }
  .test-meta-box {
    box-sizing: border-box;
    border-left: 1px solid $color-gray-border;
    flex: 1;
    margin-bottom: 60px;
    padding: 0 30px 20px;
    .label {
      text-align: left;
      color: #6a6f77;
      margin-bottom: 30px;
    }
  }
  .test-grade {
    flex: 1 0 33%;
    text-align: center;
    padding: 0 40px 20px;
    .grade {
      font-size: 61px;
    }
    .grade-text {
      font-size: 18px;
      margin: 20px auto 0;
      max-width: 150px;
      &-A,
      &-B {
        color: $color-grade-a;
      }
      &-C,
      &-D {
        color: $color-grade-c;
      }
      &-E,
      &-F {
        color: $color-grade-e;
      }
    }
  }

  .test-stats {
    flex: 2 0 66%;
    padding: 0 0 20px;
    .label {
      padding-left: 30px;
      margin-bottom: 10px;
    }
    .original-images-label {
      font-size: 12px;
      text-align: right;
    }
    .original-images-weight {
      margin-top: 6px;
      color: $color-grade-e;
      text-align: right;
      font-size: 18px;
      font-weight: 400;
    }
    .original-images-indicator {
      margin-top: 6px;
      background: $color-grade-e;
      height: 7px;
      border-radius: 0 7px 7px 0;
    }
    .trans-images {
      display: inline-block;
      min-width: 15%;
    }
    .trans-images-indicator {
      margin-top: 20px;
      background: $color-blue-c;
      height: 7px;
      border-radius: 0 7px 7px 0;
    }
    .trans-images-weight {
      margin-top: 6px;
      color: $color-blue-c;
      text-align: right;
      font-size: 18px;
      font-weight: 400;
      padding-left: 30px;
      white-space: nowrap;
    }
    .trans-images-label {
      margin-top: 6px;
      padding-left: 30px;
      font-size: 12px;
      > img {
        vertical-align: bottom;
        margin-right: 3px;
      }
    }
  }

  .more-info {
    position: relative;
    img {
      vertical-align: baseline;
      margin-left: 4px;
    }
    .tooltip {
      display: none;
      position: absolute;
      box-shadow: 0 0 5px rgba(#000, .3);
      border-radius: 2px;
      width: 220px;
      background: #fbfbfb;
      padding: 7px 12px;
      color: #666;
      bottom: 120%;
      right: -30px;
      font-size: 12px;
    }
    &:hover .tooltip {
      display: block;
    }
  }

  .test-totals {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    .test-meta-box {
      flex: 1 0 33%;
      padding: 0 10px 20px 30px;
      &.image-count {
        padding: 0 20px 20px 40px;
      }
    }
    .label {
      height: 45px;
      margin-bottom: 0;
    }
    .value {
      font-weight: 100;
      font-size: 64px;
      text-transform: uppercase;
      line-height: 1.2;
      white-space: nowrap;
      color: $color-blue-dark;
      img {
        vertical-align: middle;
        margin-right: 10px;
      }
    }
    .description {
      margin-top: 10px;
      font-size: 12px;
      color: $color-gray-blue;
    }
  }


  .test-info {
    width: 100%;
    display: flex;
    .label {
      margin-bottom: 15px;
    }
    .test-meta-box,
    .label {
      text-align: center;
      font-size: 12px;
    }
    .value {
      margin-top: 10px;
      color: $color-gray-blue;
    }
    img {
      height: 22px;
    }
    .wpt {
      img {
        height: auto;
        opacity: .6;
      }
    }
  }

  @media #{$bp-max-md} {
    .test-summ {
      flex-direction: column;
    }
    .test-meta {
      padding-right: 0;
    }
    .test-info {
      width: 50%;
      flex-wrap: wrap;
      .test-meta-box {
        flex-basis: 50%;
        &:nth-child(odd) {
          border-left: none;
        }
      }
    }
    .test-screen {
      $height: 440px;
      height: $height;
      margin-top: -$height;
      width: 40%;
    }
  }

  @media #{$bp-max-sm} {
    .test-totals .value {
      font-size: 46px;
    }
  }

  @media #{$bp-max-xs} {
    h1 {
      margin-top: 10px;
      font-size: 28px;
      font-weight: 200;
    }
    .test-meta-box,
    .test-totals .test-meta-box {
      flex: 1 0 100%;
    }
    .test-meta-box {
      border: none;
      border-bottom: 1px solid #ccc;
      margin-bottom: 20px;
    }
    .test-grade,
    .test-meta-box,
    .test-stats .label,
    .test-totals .test-meta-box,
    .test-totals .test-meta-box.image-count,
    .test-stats .trans-images-label {
      padding-left: 0;
      padding-right: 0;
    }
    .grade-content {
      display: flex;
      .grade-text {
        margin: 0 0 0 20px;
        align-self: center;
        font-size: 22px;
        font-weight: 300;
        max-width: none;
      }
    }
    .test-totals .value {
      font-size: 64px;
    }
    .test-info {
      width: 100%;
    }
    .test-screen {
      margin: 20px auto 0;
      width: auto;
    }
    .share .share-toggle {
      img {
        margin-right: 5px;
      }
      span {
        display: none;
      }
    }
  }

}
