.compressionBar {
  display: flex;
  align-items: center;
  width: 405px;
  border-right: 1px solid #ddd;
  font-size: 18px;
  height: 60px;
  .image-compression-bars & {
    font-size: 14px;
    height: 32px;
  }
  .type {
    text-transform: uppercase;
    padding: 0 30px;
    width: 70px;
  }
  .bytes {
    width: 60px;
    padding: 0 20px;
  }
  .bar-wrp {
    align-self: stretch;
    border-left: 1px solid #ddd;
    width: 105px;
    display: flex;
    align-items: center;
  }
  .bar {
    height: 7px;
    border-radius: 0 7px 7px 0;
  }
  .original-note {
    font-size: 12px;
    color: #999;
  }
}
