@import 'src/styles/helpers';

.compressionBar {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  line-height: 60px;
  height: 60px;

  .image-compression-bars & {
    font-size: 14px;
    height: 25px;
    width: 100%;
    justify-content: flex-start;

    .type {
      width: 92px;
      min-width: 92px;
      padding-left: 0;
      padding-right: 18px;
      border-right: none;
      box-sizing: border-box;
      line-height: 25px;
      font-size: 14px;
      font-weight: 700;
      color: #1d2533;
    }

    .bar-wrp {
      margin: 0 14px 0 16px;
      background: #c8c8c8;
      height: 8px;
      align-self: center;
      width: 96px;
      min-width: 96px;
      max-width: 96px;
      border-radius: 0;
    }

    .bytes {
      margin-left: 0;
    }

    .bytes,
    .note {
      text-align: left;
      line-height: 1.1;
      width: auto;
      margin-right: 0;
      color: #000;
      white-space: nowrap;
    }

    .bytes {
      min-width: 56px;
    }

    .note {
      margin-left: 12px;
    }

    &.no-reduction {
      .bytes,
      .note {
        color: #000;
      }
    }
  }

  .type {
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
  }

  .best {
    line-height: normal;
    position: absolute;
    right: 3px;
    top: 50%;
    transform: translateY(-50%);
    &:hover .tooltip {
      display: block;
    }
  }
  .tooltip {
    display: none;
    position: absolute;
    bottom: 100%;
    margin-bottom: 5px;
    right: 50%;
    transform: translateX(50%);
    white-space: nowrap;
    background: #303b46;
    color: #fff;
    font-size: 12px;
    text-transform: initial;
    padding: 4px 7px 3px;
    border-radius: 4px;
    @include triangle($dir: bottom, $pos: 50%, $color: #303b46);
  }

  .bytes {
    margin-right: 5px;
  }

  .bar-wrp {
    width: 25%;
    display: flex;
    align-items: center;
    margin: 0 10px;
  }

  .bar {
    height: 8px;
  }

  .original-note {
    font-size: 12px;
    color: #999;
  }

  @media #{$bp-max-md} {
    width: 100%;
    border: none;

    .image-compression-bars & {
      .type {
        width: 84px;
        min-width: 84px;
        padding-left: 0;
      }
      .bar-wrp {
        width: 84px;
        min-width: 84px;
        margin-left: 12px;
        margin-right: 12px;
      }
      .bytes {
        margin-left: 0;
      }
    }
  }
}
