@import "helpers";

.imageExpanded {
  $col-height: 800px;

  max-height: 0;
  overflow: hidden;
  box-sizing: border-box;
  transition: max-height .3s linear;

  display: flex;
  border: 1px solid #8596AA;
  border-top: none;
  margin-top: -1px;
  justify-content: space-between;
  .resultsItem.expanded & {
    margin-top: 0;
    max-height: $col-height;
  }
  .image-details {
    display: flex;
    flex-direction: column;
    flex: 0 1 392px;
    height: $col-height;
    margin-right: 5px;
    &.original {
      flex: 0 1 400px;
      background: #fff;
    }
    .title {
      position: relative;
      font-size: 18px;
      text-align: center;
      padding: 20px;
      margin-bottom: 10px;
      color: #616161;
    }
    .image-info-icon {
      position: absolute;
      left: 20px;
    }
  }
  .tab {
    background: #fff;
    text-align: center;
    width: 33%;
    padding: 6px 20px;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    border-bottom: 1px solid #E4EAEE;
  }
  .original .tab {
    text-align: left;
    width: auto;
  }
  .react-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .react-tabs__tab-list {
    display: flex;
    padding: 0;
    margin: 0;
  }
  .react-tabs__tab {
    @extend .tab;
    background: #d0dae2;
    display: block;
    margin: 0 7px 0 0;
    flex: 1;
    &:last-child {
      margin-right: 0;
    }
  }
  .react-tabs__tab--selected {
    background: #fff;
  }
  .react-tabs__tab-panel--selected,
  .imageInfo {
    background: #fff;
    flex: 1;
    margin-bottom: 10px;
  }

  .image-info-expand {
    display: none;
    border: none;
    background: none;
    outline: none;
    padding: 0;
    line-height: 20px;
    position: absolute;
    right: 10px;
    z-index: 9;
    transform: rotate(0);
    transition: transform .4s;
    img {
      transform: rotate(270deg);
      vertical-align: middle;
    }
    &:hover {
      transform: rotate(180deg);
    }
  }
  &.dynamicIn .image-info-expand {
    transform: rotate(180deg);
    &:hover {
      transform: rotate(0deg);
    }
  }

  @media #{$mobile-only} {
    position: relative;
    .image-info-expand {
      display: block;
    }
    .image-details {
      margin-right: 1%;
      &.original {
        flex: 0 0 50%;
      }
      &.transformed,
      &.dynamic {
        flex: 0 0 48%;
      }
      &.dynamic {
        position: absolute;
        right: 0;
        width: 48%;
        transform: translateX(102%);
        transition: transform .4s;
        display: block;
        background: #E4EAEE;
      }
    }
    &.dynamicIn .image-details.dynamic {
      transform: translateX(0);
    }
    .image-info-icon {
      display: none;
    }
  }
}
