@import 'styles/helpers';

.contactForm {
  width: 480px;
  margin: 50px auto 0;
  background: #3b82d7;
  border-radius: 8px;
  padding-bottom: 30px;
  &:after {
    content: '';
    display: table;
    clear: both;
  }
  h2 {
    font-size: 42px;
    color: #fff;
    margin: 0;
    padding: 24px 20px 20px;
  }
  .mktoForm {
    max-width: 400px;
    margin: 0 auto;
  }
  .mktoFormRow,
  .mktoButtonRow {
    width: auto !important;
    clear: none !important;
    float: left;
  }
  .mktoLabel,
  .mktoOffset,
  .mktoGutter {
    display: none;
  }
  input {
    &.mktoField {
      border: 1px solid #90a0b3;
      font-family: 'Fira Sans', sans-serif;
      border-radius: 6px !important;
      font-weight: 400 !important;
      width: 195px !important;
      margin-bottom: 12px !important;
    }
    &[name='FirstName'] {
      margin-right: 10px !important;
    }
    &.mktoEmailField {
      width: 290px !important;
      margin-right: 0 !important;
      border-radius: 6px 0 0 6px !important;
      border-right: 0;
    }
  }
  .mktoButtonWrap {
    margin-left: 0 !important;
  }
  .mktoButton {
    display: inline-block;
    height: 50px;
    font-size: 19px;
    width: 110px;
    border-radius: 0 6px 6px 0;
    border: 0;
    padding: 10px 20px;
    margin-top: 20px;
    background: $color-orange;
    color: #fff;
    box-shadow: 0 2px 8px rgba(#000, 0.4);
    transition: background 0.3s;
    &:hover {
      background: darken($color-orange, 10%);
    }
  }
  @media #{$bp-max-xs} {
    max-width: 100%;
    h2 {
      font-size: 34px;
    }
    .mktoForm {
      max-width: 94%;
    }
    .mktoFormRow,
    .mktoButtonRow {
      width: 100% !important;
      float: none;
    }
    input.mktoField {
      width: 100% !important;
      margin: 0 0 12px !important;
      border-radius: 6px !important;
    }
    .mktoButton {
      width: 100% !important;
      border-radius: 6px !important;
    }
  }
}
