@import 'styles/helpers';

.header {
  position: relative;
  z-index: 3;
  background: rgba(#fff, 0.9);
  box-shadow: 0 0 6px rgba(#000, 0.4);
  height: 72px;
  .container {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .logo {
    margin: 0 25px 8px 0;
  }
  .title {
    font-size: 18px;
    margin-right: 32px;
  }
  .support {
    margin-left: auto;
  }

  @media #{$bp-min-md} {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    .logo {
      margin-right: 35px;
    }
    .title {
      margin-right: 52px;
    }
    @at-root {
      .page-container {
        padding-top: 70px;
      }
    }
  }

  @media #{$bp-max-xs} {
    .logo {
      margin: 0 20px 4px 0;
      max-width: 120px;
    }
    .title {
      margin-right: 0;
    }
    .learn,
    .support {
      display: none;
    }
  }
}
