.resultSumm {
  padding-top: 15px;
  h1 {
    margin-top: 40px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 12px;
    margin-bottom: 12px;
  }
  .test-url {
    font-size: 18px;
  }
  .test-summ {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 50px;
  }
  .test-meta {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }
  .test-meta-box {
    box-sizing: border-box;
    border-left: 1px solid #ddd;
    flex: 1;
    margin-bottom: 60px;
    padding: 0 30px 20px;
    .label {
      text-align: left;
      color: #6a6f77;
      margin-bottom: 30px;
    }
  }
  .test-grade {
    flex: 1;
    text-align: center;
    padding: 0 40px 20px;
    .grade {
      font-size: 61px;
    }
  }
  .test-stats {
    flex: 2;
    padding: 0 0 20px;
    .label {
      padding-left: 30px;
    }
  }

  .test-totals {
    width: 100%;
    display: flex;
    .test-meta-box {
      // width: 33.333%;
    }
  }
  .image-count {
    padding: 0 40px 20px;
  }

  .test-info {
    width: 100%;
    display: flex;
    .test-meta-box,
    .label {
      text-align: center;
      font-size: 12px;
    }
  }
}
