// --------------------------------------------------
//                   Variables
// --------------------------------------------------

//== Colors
$color-blue-dark: #0e2f5a;
$color-blue-light: #0054ac;
$color-blue-c: #0071ba;
$color-gray-blue: #90a0b3;

$color-grade-a: #77BD58;
$color-grade-c: #F2A81A;
$color-grade-e: #F05C5F;

//== Containers
$container-width: 1208px;

//== Media queries breakpoints
$screen-lg: $container-width !default;
$screen-md: 992px !default;
$screen-sm: 768px !default;
$screen-xs: 480px !default;
$screen-md-max: ($screen-lg - 1) !default;
$screen-sm-max: ($screen-md - 1) !default;
$screen-xs-max: ($screen-sm - 1) !default;

$desktop-only: "(min-width: #{$screen-lg})";
$portrait-only: "(max-width: #{$screen-xs-max})";
$mobile-only: "(max-width: #{$screen-md-max})";
