@import 'styles/helpers';

.imageExpanded {
  $col-height: 800px;

  max-height: 0;
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  transition: max-height 0.3s linear;

  display: flex;
  border: 1px solid #8596aa;
  border-top: none;
  margin-top: -1px;
  justify-content: space-between;
  background: $color-blue-dark;
  .resultsItem.expanded & {
    margin-top: 0;
    max-height: $col-height;
  }
  .image-details {
    display: flex;
    flex-direction: column;
    flex: 0 1 392px;
    height: $col-height;
    margin-right: 5px;
    &.original {
      flex: 0 1 400px;
      background: $color-blue-medium-a;
      .title,
      .tab {
        background: $color-blue-medium-a;
        color: #fff;
      }
      .imageInfo,
      .tab {
        margin-left: 5px;
      }
    }
    .title {
      position: relative;
      font-size: 18px;
      font-weight: 600;
      padding: 20px 0 20px 60px;
      margin-bottom: 10px;
      color: #fff;
    }
    .image-info-icon {
      position: absolute;
      left: 20px;
    }
  }
  .tab {
    background: #fff;
    color: $color-blue-medium-b;
    text-align: center;
    width: 33%;
    padding: 6px 20px;
    border-radius: 6px 6px 0 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    border-bottom: 1px solid #e4eaee;
  }
  .original .tab {
    text-align: left;
    width: auto;
  }
  .react-tabs {
    flex: 1;
    display: flex;
    flex-direction: column;
  }
  .react-tabs__tab-list {
    display: flex;
    padding: 0;
    margin: 0;
    min-height: 33px;
  }
  .react-tabs__tab {
    @extend .tab;
    cursor: pointer;
    background: $color-blue-medium-a;
    color: #fff;
    display: block;
    margin: 0 7px 0 0;
    flex: 0 1 35%;
    border-color: $color-blue-medium-a;
    white-space: nowrap;
    &:last-child {
      margin-right: 0;
    }
  }
  .react-tabs__tab--selected {
    background: #fff;
    color: $color-blue-medium-b;
    border-color: #e4eaee;
  }
  .react-tabs__tab-panel--selected,
  .imageInfo {
    background: #fff;
    flex: 1;
    margin-bottom: 6px;
    overflow: auto;
  }

  .image-info-expand {
    display: none;
    border: none;
    background: none;
    outline: none;
    padding: 20px 15px;
    line-height: 20px;
    top: 0;
    right: 0;
    cursor: pointer;
    position: absolute;
    z-index: 9;
    transform: rotate(0);
    transition: transform 0.4s;
    img {
      transform: rotate(270deg);
      vertical-align: middle;
    }
  }
  &.dynamicIn .image-info-expand {
    transform: rotate(180deg);
  }

  .mobile-carousel-btn {
    display: none;
    border: none;
    background: none;
    outline: none;
    padding: 20px;
    line-height: 20px;
    cursor: pointer;
    position: absolute;
    top: 20px;
    z-index: 9;
    transition: opacity 0.3s;
    img {
      vertical-align: middle;
    }
    &.prev {
      left: 0;
      img {
        transform: rotate(90deg);
      }
    }
    &.next {
      right: 0;
      img {
        transform: rotate(270deg);
      }
    }
  }
  &.carousel-1 .mobile-carousel-btn.prev {
    opacity: 0.3;
  }
  &.carousel-3 .mobile-carousel-btn.next {
    opacity: 0.3;
  }

  @media #{$bp-max-md} {
    .image-details {
      margin-right: 1%;
      &.original {
        flex: 0 0 50%;
      }
      &.transformed,
      &.dynamic {
        flex: 0 0 48%;
      }
    }
    .image-info-icon {
      display: none;
    }
  }

  @media #{$bp-min-xs-max-md} {
    .image-info-expand {
      display: block;
    }
    .image-details {
      transform: translateX(0);
      transition: transform 0.4s;
    }
    &.dynamicIn .image-details {
      transform: translateX(-103%);
    }
  }

  @media #{$bp-max-xs} {
    .mobile-carousel-btn {
      display: block;
    }
    .image-details {
      flex: 0 0 100% !important;
      margin: 0;
      padding: 0 8px;
      box-sizing: border-box;
      .title {
        padding-top: 40px;
      }
    }
    .image-details {
      transform: translateX(0);
      transition: transform 0.4s;
    }
    &.carousel-2 .image-details {
      transform: translateX(-100%);
    }
    &.carousel-3 .image-details {
      transform: translateX(-200%);
    }
  }
}
