// --------------------------------------------------
//                 Basic layout
// --------------------------------------------------

html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

.container {
  width: 94%;
  width: calc(100% - 34px);
  max-width: $container-width;
  margin: 0 auto;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: top;
}
