// --------------------------------------------------
//                 Basic layout
// --------------------------------------------------

html,
body {
  height: 100%;
}

#app {
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: 0 auto;
}

img {
  max-width: 100%;
  vertical-align: top;
}
