// --------------------------------------------------
//                  Typography
// --------------------------------------------------

@import url('https://fonts.googleapis.com/css?family=Roboto|Fira+Sans:300,400,700');

body {
  font-family: 'Fira Sans', sans-serif;
  font-size: 16px;
  line-height: 1.42857143;
  color: #111;
  background-color: white;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: 'Fira Sans', sans-serif;
  font-weight: 100;
  line-height: 1.1;
  color: $color-blue-dark;
}

.h1, h1 {
  font-size: 48px;
}

.h2, h2 {
  font-size: 32px;
}

.h3, h3 {
  font-size: 24px;
}

.h4, h4 {
  font-size: 18px;
}

.h5, h5 {
  font-size: 16px;
}

.h6, h6 {
  font-size: 14px;
}

a {
  text-decoration: none;
  transition: color .3s;
  color: $color-blue-light;
  &:hover,
  &:active {
    color: lighten($color-blue-light, 10%);
  }
}
