.resultsList {
  .results {
    background: #fff;
    padding: 25px 0;
  }

  h1 {
    margin: 0 0 17px;
    font-family: 'Inter', sans-serif;
    font-size: 47px;
    line-height: 1.2;
    font-weight: 300;
    color: #363d45;
  }

  @media (max-width: 650px) {
    h1 {
      font-size: 36px;
    }
  }
}
