.resultsItem {
  display: flex;
  background: #E4EAEE;
  box-shadow: 0 0 6px rgba(#000, .3);
  margin: 25px 0;
  .image-orig {
    background: #8596AA;
    img {
      vertical-align: top;
    }
  }
  .image-data {
    flex: 1;
  }
  .image-data-header {
    background: #fff;
  }
  .image-data-name {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    padding: 15px 30px;
    border-bottom: 1px solid #ddd;
  }
  .image-data-meta {
    display: flex;
  }
  .image-data-type,
  .image-data-bytes {
    font-size: 18px;
    padding: 15px 30px;
    border-right: 1px solid #ddd;
  }
  .image-data-type {
    text-transform: uppercase;
  }
}
